<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <h1>Login</h1>
  </div>
  <div>
    <form action="/login" method="POST">
      <div>
        <label for="email" name="email">EMail:</label><br>
        <input type="text" name="email" required>
      </div>
      <div>
        <label for="password" name="password">Password:</label><br>
        <input type="password" name="password" required>
      </div>
      <button type="submit"></button>
      <button><a href="/">Cancel</a></button>
    </form>
  </div>
</body>
</html>