<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <H1>Register Form</H1>
  </div>
  <form action="/register" method="POST">
    <div>
      <label for="first_name">First Name:</label><br>
      <input type="text" name="first_name">
    </div>
    <div>
      <label for="lasst_name">Last Name:</label><br>
      <input type="text" name="last_name">
    </div>
    <div>
      <label for="username">Username:</label><br>
      <input type="text" name="username">
    </div>
    <div>
      <label for="password">Password:</label><br>
      <input type="password" name="password">
    </div>
    <div>
      <label for="email">Email:</label><br>
      <input type="text" name="email">
    </div>
    <div>
      <label for="birth_date">Birth Date:</label><br>
      <input type="date" name="birth_date">
    </div>
    <div>
      <button type="submit">Register</button>
      <button><a href="/">Cancel</a></button>
    </div>
  </form>
</body>
</html>